.form{
    color: red;
    
}

img {
    width:  150px;
    height: 188px;
    object-fit: cover;
}


body {
    text-align: center;
    background-color: #4f4f4f;
  }
  
button{
    background-color: burlywood;
}